.container{
    display: flex;
    background-color: rgb(176, 197, 218);
    align-content: center;
   
}
    


div>div{
    background-color: rgb(143, 56, 56);
    margin: 20px;
    padding: 40px;
    font-size: 60px;
    height: 600px;
}
